.widget{
    background-position: center top 20px;

    
    background-size: cover;
    width: 450px;
    height: 600px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    white-space: nowrap; 
}
.search {
    position: absolute;
    top: 5%;
    left: 45%;
    font-size: 20px;
    transform: translateX(-50%);
    width: 300px; 
    height: 35px;
    border-radius: 25px;
    padding: 5px 5px;
}


.pos{
    position: relative;
    top: 5.1%;
    left: 87%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.icon{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
}
.det h1{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    font-weight: 500;
}
.det h2{
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 20;
}
.det p{
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 20px;
}
#ida{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%); 
}
#idb{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#idc{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%); 
}
#da{
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%); 
}
#db{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#dc{
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%); 
}